<div class="container mt-5">
    <div *ngIf="!registerMode && !(accountService.currentUser$ | async)" style="text-align: center;">
        <h1>Criar Usuário</h1>
        <p class="lead">Crie seu usuário aqui!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Registrar</button>
        </div>
    </div>
    <div *ngIf="registerMode && !(accountService.currentUser$ | async)" class="container">
        <div class="row justify-content-center">
            <div class="col-5">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
    <app-dashboard *ngIf="accountService.currentUser$ | async"></app-dashboard>
</div>
